INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
stream-decoder.service
test-driver
src/.deps
src/Makefile
src/Makefile.in
src/stream-decoder
src/stream-decoder-gdbus.c
src/stream-decoder-gdbus.h
tests/Makefile
tests/Makefile.in
tests/test-decoder
tests/test-suite.log
tests/test-testables
tests/test-testables.log
tests/test-testables.trs
